<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title *ngIf="activeQueue">
            {{ activeQueue.queueType }}
            Очередь
            <span *ngIf="activeQueue.videoQueueLen">({{ activeQueue.videoQueueLen }}шт.)</span>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="onRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="queue">
        <div id="cards">
            <app-queue-video
                    *ngFor="let queueItem of queue; let last = last; let index = index; trackBy: trackQueue"
                    [queueItem]="queueItem"
                    [last]="last"
                    [index]="index"
                    (removeItem)="removeItem($event)"
                    (lastVideoLoad)="onLastVideoLoad()">
            </app-queue-video>
        </div>


        <ion-infinite-scroll threshold="5px" (ionInfinite)="onInfiniteScroll($event)">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>


    <h2 *ngIf="!queue" text-center>Пустовато</h2>
</ion-content>
