@import "../theme/variables";

.aeji {
  &-input {
    &-btn {
      margin: 0 0 8px;
      align-self: flex-end;
      font-size: 16px;
    }
  }
}

app-queue-video {
  max-width: 1300px;
  margin: 0 auto;

  iframe {
    height: calc(54vw);
    max-height: 720px;

    @media ($screen-lg) {
      height: calc(40vw);
    }
  }
}
