.login {
  &-wp {
    height: 100%;
  }

  &-aeji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    object-fit: contain;
    opacity: 0.02;
  }

  &-g {
    margin-left: 5px;
  }
}
