<ion-app>
  <ion-split-pane>
    <ion-menu *ngIf="user" menuId="menu">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <ion-chip color="light" no-margin>
              <ion-avatar>
                <img [src]="user.picture">
              </ion-avatar>
              <ion-label>
                {{ user.name }}
              </ion-label>
            </ion-chip>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon [name]="p.icon" slot="start" color="light"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle autoHide="false">
            <ion-item (click)="logOut()">
              <ion-icon name="power" slot="start" color="light"></ion-icon>
              <ion-label>
                sign out
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
