<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>


    <ion-title>
      История
      <span *ngIf="historyLen">({{ historyLen }}шт.)</span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div *ngIf="history?.length > 0">
    <div id="cards">
      <app-queue-video
              *ngFor="let item of history; trackBy: trackQueue"
              [queueItem]="item"
              [isHistory]="true">
      </app-queue-video>
    </div>

    <ion-infinite-scroll threshold="5px" (ionInfinite)="onInfiniteScroll($event)">
      <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


  <h2 *ngIf="history?.length === 0" text-center>Пустовато</h2>
</ion-content>
