<ion-card #card>
  <iframe [src]="queueItem.url | safe: 'resourceUrl'"
          (load)="last ? onLastVideoLoad() : null"
          width="100%"
          height="180"
          frameborder="0"
          allowfullscreen></iframe>

  <ion-card-content>
    <ion-row justify-content-between align-items-center>
      <ion-card-title size="auto">
        <span *ngIf="queueItem.username">{{ queueItem.username }} - </span>
        {{ queueItem.amount }} RUB
      </ion-card-title>

      <ion-button *ngIf="!isHistory && index === 0" (click)="onRemoveItem($event, index)" color="danger" size="small">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-row>

    {{ queueItem.message }}

    <ion-card-subtitle text-end>{{ queueItem.date_created | date: 'dd MMM (hh:mm)' }}</ion-card-subtitle>
  </ion-card-content>
</ion-card>
