<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Очереди
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="queues">
    <ion-item *ngFor="let item of queues" (click)="openQueue(item)">
      <ion-label>{{ item.queueType }} Очередь</ion-label>
      <ion-note slot="end">({{ item.videoQueueLen }}шт.)</ion-note>
    </ion-item>
  </ion-list>


  <h2 *ngIf="!queues" text-center>Пустовато</h2>
</ion-content>
