<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      ОчередиЫЫЫ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loaded">
    <ion-list *ngIf="queuesNotEmpty" @list>
      <ion-item
              @items
              *ngFor="let item of queues; trackBy: trackQueue"
              [hidden]="item.videoQueueLen === 0"
              (click)="openQueue(item)">
        <ion-label>{{ item.queueType }} Очередь</ion-label>
        <ion-note slot="end">({{ item.videoQueueLen }}шт.)</ion-note>
      </ion-item>
    </ion-list>

    <h2 *ngIf="!queuesNotEmpty" text-center>Пустовато</h2>
  </div>


  <h2 *ngIf="!loaded" text-center>
    ...загрузка
  </h2>
</ion-content>
